<%- include('../layouts/header.ejs') -%>

<div class="page-wrapper">
    <header class="header header-2 header-intro-clearance">
        <div class="header-top">
            <div class="container">
                <div class="header-left">
                   
                </div><!-- End .header-left -->

                <div class="header-right">

                    <ul class="top-menu">
                        <li>
                            <a href="#">Links</a>
                            <ul>
                                <li>
                                    <div class="header-dropdown">
                                        <a href=""></a>
                                        
                                    </div>
                                </li>
                               
                                <% if (locals.user) { %>
                                    <div class="dropdown cart-dropdown">
                                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                            <!-- Add inline style for smaller font size -->
                                            <span class="user-name" style="font-size: 16px;"><%=user?.name %></span> <span class="caret"></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <!-- Additional options -->
                                            <div class="dropdown-divider"></div>
                                            <!-- <a href="/my-account" class="dropdown-item">My Account</a> -->
                                            <a href="/logout" class="dropdown-item">Log out</a>
                                        </div><!-- End .dropdown-menu -->
                                    </div><!-- End .dropdown -->
                                <% } else { %>
                                    <li>
                                        <a href="/login">Log in</a>
                                    </li>
                                <% } %>
                                
                            </ul>
                        </li>
                    </ul><!-- End .top-menu -->
                </div><!-- End .header-right -->

            </div><!-- End .container -->
        </div><!-- End .header-top -->

        <div class="header-middle">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>
                    
                    <a href="index.html" class="logo">
                        <img src="/user/assets/images/demos/demo-2/logo.png" alt="Molla Logo" width="105" height="25">
                    </a>
                </div><!-- End .header-left -->

                <div class="header-center">
                    <div class="header-search header-search-extended header-search-visible header-search-no-radius d-none d-lg-block">
                        <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                        <form action="#" method="get">
                            <div class="header-search-wrapper search-wrapper-wide">
                                <label for="q" class="sr-only">Search</label>
                                <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
                                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                            </div>
                        </form>
                    </div><!-- End .header-search -->
                </div>

                <div class="header-right">
                    <div class="account">
                        <a href="/profile" title="My account">
                            <div class="icon">
                                <i class="icon-user"></i>
                            </div>
                            <p>Account</p>
                        </a>
                    </div><!-- End .compare-dropdown -->

                    <div class="wishlist">
                        <a href="/wishlist" title="Wishlist">
                            <div class="icon">
                                <i class="icon-heart-o"></i>
                            </div>
                            <p>Wishlist</p>
                        </a>
                    </div><!-- End .compare-dropdown -->

                    <div class="dropdown cart-dropdown">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                            <i class="icon-shopping-cart"></i>
                        </a>
                    
                        <div class="dropdown-menu dropdown-menu-right" style="width: 200px;"> <!-- Adjust width as needed -->
                            <div class="dropdown-cart-action">
                                <a href="/cart" class="btn btn-primary btn-sm btn-block">View Cart</a>
                            </div><!-- End .dropdown-cart-action -->
                        </div><!-- End .dropdown-menu -->
                    </div><!-- End .cart-dropdown -->
                    
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->

        <div class="header-bottom sticky-header">
            <div class="container">
               
                <div class="header-center">
                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li class="megamenu-container active">
                                <a href="/" class="sf-with-ul">Home</a>                      
                            </li>
                            <li>
                                <a href="allproducts" class="sf-with-ul">Shop</a>                   
                            </li>
                            
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div><!-- End .header-center -->

            </div><!-- End .container -->
        </div><!-- End .header-bottom -->
    </header><!-- End .header -->

    <main class="main">
        <div class="intro-slider-container">
            <div class="owl-carousel owl-simple owl-light owl-nav-inside" data-toggle="owl" data-owl-options='{"nav": false}'>
                <div class="intro-slide" style="background-image: url(/user/assets/images/demos/demo-2/slider/slide-1.jpg);">
                    <div class="container intro-content">
                        <h3 class="intro-subtitle">Bedroom Furniture</h3><!-- End .h3 intro-subtitle -->
                        <h1 class="intro-title">Find Comfort <br>That Suits You.</h1><!-- End .intro-title -->

                        <a href="/allproducts" class="btn btn-primary">
                            <span>Shop Now</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div><!-- End .container intro-content -->
                </div><!-- End .intro-slide -->

                <div class="intro-slide" style="background-image: url(/user/assets/images/demos/demo-2/slider/slide-2.jpg);">
                    <div class="container intro-content">
                        <h3 class="intro-subtitle">Deals and Promotions</h3><!-- End .h3 intro-subtitle -->
                        <h1 class="intro-title">Ypperlig <br>Coffee Table <br></h1><!-- End .intro-title -->

                        <a href="/allproducts" class="btn btn-primary">
                            <span>Shop Now</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div><!-- End .container intro-content -->
                </div><!-- End .intro-slide -->

                <div class="intro-slide" style="background-image: url(/user/assets/images/demos/demo-2/slider/slide-3.jpg);">
                    <div class="container intro-content">
                        <h3 class="intro-subtitle">Living Room</h3><!-- End .h3 intro-subtitle -->
                        <h1 class="intro-title">
                            Make Your Living Room <br>Work For You.<br>
                        </h1><!-- End .intro-title -->

                        <a href="/allproducts" class="btn btn-primary">
                            <span>Shop Now</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div><!-- End .container intro-content -->
                </div><!-- End .intro-slide -->
            </div><!-- End .owl-carousel owl-simple -->

            <span class="slider-loader text-white"></span><!-- End .slider-loader -->
        </div><!-- End .intro-slider-container -->

        <div class="brands-border owl-carousel owl-simple" data-toggle="owl" 
            data-owl-options='{
                "nav": false, 
                "dots": false,
                "margin": 0,
                "loop": false,
                "responsive": {
                    "0": {
                        "items":2
                    },
                    "420": {
                        "items":3
                    },
                    "600": {
                        "items":4
                    },
                    "900": {
                        "items":5
                    },
                    "1024": {
                        "items":6
                    },
                    "1360": {
                        "items":7
                    }
                }
            }'>
            <a href="#" class="brand">
                <img src="/user/assets/images/brands/1.png" alt="Brand Name">
            </a>

            <a href="#" class="brand">
                <img src="/user/assets/images/brands/2.png" alt="Brand Name">
            </a>

            <a href="#" class="brand">
                <img src="/user/assets/images/brands/3.png" alt="Brand Name">
            </a>

            <a href="#" class="brand">
                <img src="/user/assets/images/brands/4.png" alt="Brand Name">
            </a>

            <a href="#" class="brand">
                <img src="/user/assets/images/brands/5.png" alt="Brand Name">
            </a>

            <a href="#" class="brand">
                <img src="/user/assets/images/brands/6.png" alt="Brand Name">
            </a>

            <a href="#" class="brand">
                <img src="/user/assets/images/brands/7.png" alt="Brand Name">
            </a>
        </div><!-- End .owl-carousel -->

        <div class="mb-3 mb-lg-5"></div><!-- End .mb-3 mb-lg-5 -->

        <div class="banner-group">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-5">
                        <div class="banner banner-large banner-overlay banner-overlay-light">
                            <a href="#">
                                <img src="/user/assets/images/demos/demo-2/banners/banner-1.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-top">
                                <h4 class="banner-subtitle">Clearence</h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title">Coffee Tables</h3><!-- End .banner-title -->
                                <a href="/allproducts" class="btn btn-outline-gray banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-5 -->

                    <div class="col-md-6 col-lg-3">
                        <div class="banner banner-overlay">
                            <a href="#">
                                <img src="/user/assets/images/demos/demo-2/banners/banner-2.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-bottom">
                                <h4 class="banner-subtitle text-grey">On Sale</h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title text-white">Amazing <br>Armchairs</h3><!-- End .banner-title -->
                                <a href="/allproducts" class="btn btn-outline-white banner-link">Discover Now<i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-3 -->

                    <div class="col-md-6 col-lg-4">
                        <div class="banner banner-overlay">
                            <a href="#">
                                <img src="/user/assets/images/demos/demo-2/banners/banner-3.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-top">
                                <h4 class="banner-subtitle text-grey">New Arrivals</h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title text-white">Storage <br>Boxes & Baskets</h3><!-- End .banner-title -->
                                <a href="/allproducts" class="btn btn-outline-white banner-link">Discover Now<i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->

                        <div class="banner banner-overlay banner-overlay-light">
                            <a href="#">
                                <img src="/user/assets/images/demos/demo-2/banners/banner-4.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-top">
                                <h4 class="banner-subtitle">On Sale</h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title">Lamps</h3><!-- End .banner-title -->
                                <a href="/allproducts" class="btn btn-outline-gray banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-4 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .banner-group -->

        

        <div class="mb-6"></div><!-- End .mb-6 -->

        <div class="container">
        
            <div class="tab-content">
                <div class="tab-pane p-0 fade show active" id="top-all-tab" role="tabpanel" aria-labelledby="top-all-link">
                    <div class="products">
                        <div class="row justify-content-center">
                            <% products.slice(0, 10).forEach(product => { %>
                                <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                                    <div class="product product-11 text-center">
                                        <figure class="product-media">
                                            <a href="/singleProduct?productId=<%= product._id %>">
                                                <img src="<%= product.product_image[0].resizedFile %>" alt="Product image">
                                                <% if (product.product_image[1]) { %>
                                                    <img src="<%= product.product_image[1].resizedFile %>" alt="Product image" class="product-image-hover">
                                                <% } %>
                                            </a>
                                           
                                        </figure><!-- End .product-media -->
                    
                                        <div class="product-body">
                                            <h3 class="product-title"><a href="/singleProduct?productId=<%= product._id %>"><%= product.productName %></a></h3>
                                            <h2 class="product-title"><%= product.brand %></h3>
                                            <div class="product-price">
                                                ₹<%= product.price %>
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                        <div class="product-action">
                                            <a href="/cart" onclick="addToCart('<%= product._id %>')" class="btn-product btn-cart"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                            <% }) %>
                        </div><!-- End .row -->   
                    </div><!-- End .products -->
                    
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->
        </div><!-- End .container -->
        <div class="container">
            <hr class="mt-1 mb-6">
        </div><!-- End .container -->
    </main><!-- End .main -->

    <footer class="footer footer-2">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="widget widget-about">
                            <img src="/user/assets/images/demos/demo-2/logo.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                            <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. </p>
                            
                            <div class="widget-about-info">
                                <div class="row">
                                    <div class="col-sm-6 col-md-4">
                                        <span class="widget-about-title">Got Question? Call us 24/7</span>
                                        <a href="tel:123456789">+0123 456 789</a>
                                    </div><!-- End .col-sm-6 -->
                                    <div class="col-sm-6 col-md-8">
                                        <span class="widget-about-title">Payment Method</span>
                                        <figure class="footer-payments">
                                            <img src="/user/assets/images/payments.png" alt="Payment methods" width="272" height="20">
                                        </figure><!-- End .footer-payments -->
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->
                            </div><!-- End .widget-about-info -->
                        </div><!-- End .widget about-widget -->
                    </div><!-- End .col-sm-12 col-lg-3 -->

                    <div class="col-sm-4 col-lg-2">
                        <div class="widget">
                            <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="about.html">About Molla</a></li>
                                <li><a href="#">How to shop on Molla</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="login.html">Log in</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-4 col-lg-3 -->

                    <div class="col-sm-4 col-lg-2">
                        <div class="widget">
                            <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Money-back guarantee!</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-4 col-lg-3 -->

                    <div class="col-sm-4 col-lg-2">
                        <div class="widget">
                            <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">Sign In</a></li>
                                <li><a href="cart.html">View Cart</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-64 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-middle -->

        <div class="footer-bottom">
            <div class="container">
                <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
                <ul class="footer-menu">
                    <li><a href="#">Terms Of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul><!-- End .footer-menu -->

                <div class="social-icons social-icons-color">
                    <span class="social-label">Social Media</span>
                    <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                    <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                    <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                    <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                    <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                </div><!-- End .soial-icons -->
            </div><!-- End .container -->
        </div><!-- End .footer-bottom -->
    </footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container mobile-menu-light">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>
        
        <form action="#" method="get" class="mobile-search">
            <label for="mobile-search" class="sr-only">Search</label>
            <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search product ..." required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>

        <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab" aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel" aria-labelledby="mobile-menu-link">
                <nav class="mobile-nav">
                    <ul class="mobile-menu">
                        <li class="active">
                            <a href="index.html">Home</a>

                            <ul>
                                
                            </ul>
                        </li>
                        <li>
                            <a href="category.html">Shop</a>
                            <ul>
                                
                            </ul>
                        </li>
                        <li>
                            <a href="product.html" class="sf-with-ul">Product</a>
                            <ul>
                                
                            </ul>
                        </li>
                        <li>
                            <a href="#">Pages</a>
                            <ul>
                                <li>
                                    <a href="about.html">About</a>

                                    <ul>
                                        
                                    </ul>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>

                                    <ul>
                                        
                                    </ul>
                                </li>
                                <li><a href="login.html">Login</a></li>
                                
                            </ul>
                        </li>
                        <li>
                            <a href="blog.html">Blog</a>

                            <ul>
                                <li><a href="blog.html">Classic</a></li>
                                <li><a href="blog-listing.html">Listing</a></li>
                                <li>
                                    <a href="#">Grid</a>
                                    <ul>
                                        
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Masonry</a>
                                    <ul>
                                       
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Mask</a>
                                    <ul>
                                        
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Single Post</a>
                                    <ul>
                                        
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="elements-list.html">Elements</a>
                            <ul>
                               
                            </ul>
                        </li>
                    </ul>
                </nav><!-- End .mobile-nav -->
            </div><!-- .End .tab-pane -->
            <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                <nav class="mobile-cats-nav">
                    <ul class="mobile-cats-menu">
                        
                    </ul><!-- End .mobile-cats-menu -->
                </nav><!-- End .mobile-cats-nav -->
            </div><!-- .End .tab-pane -->
        </div><!-- End .tab-content -->

        <div class="social-icons">
            <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
        </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->

<!-- --------------- -->


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script>
     function addToCart(productId) {
            const data = { productId: productId };
            axios.post('/addtoCart', data)
                .then(response => {
                    console.log(response);
        
                    // Show a sweet alert after logging the response
                    swal("Success", "Product added to cart!", "success");
                })
                .catch(error => {
                    console.error(error);
        
                    // Check the error response and show appropriate sweet alert
                    if (error.response) {
                        if (error.response.status === 400 && error.response.data.message === 'Product out of stock') {
                            swal("Error", "Product out of stock", "error");
                        } else if (error.response.status === 404 && error.response.data.message === 'Product not found') {
                            swal("Error", "Product not found", "error");
                        } else if (error.response.status === 401 && error.response.data.message === 'User not authenticated') {
                            swal("Error", "User not authenticated", "error");
                        } else {
                            swal("Error", "Something went wrong!", "error");
                        }
                    } else {
                        swal("Error", "Something went wrong!", "error");
                    }
                });
        }

</script>


<%- include('../layouts/footer.ejs') -%>