<%- include('../layouts/header.ejs') -%>
    <div class="page-wrapper">

        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">

                    </div><!-- End .header-left -->

                    <div class="header-right">
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">


                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="/" class="sf-with-ul">Home</a>

                                </li>
                                <li>
                                    <a href="/allproducts" class="sf-with-ul">Shop</a>
                                </li>
                                <li>
                                    <a href="/profile" class="sf-with-ul">Profile</a>

                                </li>
                                
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        

                        <div class="dropdown cart-dropdown">
                        
                            <a href="/cart" class="dropdown-toggle" 
                            aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                            </a>
                           
                        </div><!-- End .cart-dropdown -->

                        <style>
                            .dropdown{
                                margin-top: 40%;
                            }
                        </style>

                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/allProducts">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Default</li>
                    </ol>

                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                        <figure class="product-main-image">
                                            <img id="product-zoom" src="<%= product.product_image[0].resizedFile %>" data-zoom-image="<%= product.product_image[0].resizedFile %>" alt="product image">

                                            <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                <i class="icon-arrows"></i>
                                            </a>
                                        </figure><!-- End .product-main-image -->

                                        <div id="product-zoom-gallery" class="product-image-gallery">
                                            <% product.product_image.forEach((image, index) => { %>
                                                <a class="product-gallery-item <%= index === 0 ? 'active' : '' %>" href="#" data-image="<%= image.resizedFile %>" data-zoom-image="<%= image.resizedFile %>">
                                                    <img src="<%= image.resizedFile %>" alt="product image">
                                                </a>
                                            <% }); %>

                                        </div><!-- End .product-image-gallery -->
                                    </div><!-- End .row -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="product-details">
                                    <h1 class="product-title"><%= product.productName %></h1><!-- End .product-title -->
                                    <h1 class="product-title"><%= product.brand %></h1>
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <!-- <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a> -->
                                    </div><!-- End .rating-container -->

                                    <div class="product-price">
                                        <% if (product.offer) { %>
                                            ₹<%= Math.floor(product.price - (product.price * product.offer.percentage / 100)) %>
                                            <s class="text-light" style="font-size: 12px;">₹<%= product.price %></s>
                                        <% } else if (product.category && product.category.offer) { %>
                                            ₹<%= Math.floor(product.price - (product.price * product.category.offer.percentage / 100)) %>
                                            <s class="text-light" style="font-size: 12px;">₹<%= product.price %></s>
                                        <% } else { %>
                                            ₹<%= product.price %>
                                        <% } %>
                                    </div><!-- End .product-price -->

                                    <div class="product-content">
                                        <p><%= product.description %> </p>
                                    </div><!-- End .product-content -->


                                    <div class="details-filter-row details-row-size">
                                        <label for="qty">Qty:</label>
                                        <div class="product-details-quantity">
                                            <input type="number" id="qty" class="form-control" value="1" min="1" max="<%= product.quantity %>" step="1" data-decimals="0" required>
                                        </div><!-- End .product-details-quantity -->
                                    </div><!-- End .details-filter-row -->

                                    <div class="product-details-action">
                                        

                                        <a href="#" onclick="addToCart('<%= product._id %>')" class="btn-product btn-cart"><span>add to cart</span></a>

                                        <div class="details-action-wrapper">
                                            <a href="/wishlist" class="btn-product btn-wishlist" onclick="addToWishlist('<%= product._id %>')" title="Wishlist"><span>Add to Wishlist</span></a>
                                            <!-- <a href="#" class="btn-product btn-compare" title="Compare"><span>Add to Compare</span></a> -->
                                        </div><!-- End .details-action-wrapper -->

                                    
                                    </div><!-- End .product-details-action -->


                                    <div class="product-details-footer">
                                        <div class="product-cat">
                                            <span>Category:</span>
                                            <a href="#"><%= product.category.categoryName %></a>
                                        </div><!-- End .product-cat -->

        
                                    </div><!-- End .product-details-footer -->
                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->


                    <h2 class="title text-center mb-4">Related Products</h2><!-- End .title text-center -->

                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
                       
   
    
                        <% if (relatedProducts && relatedProducts.length > 0) { %>
                            <% relatedProducts.forEach(function(relatedProduct) { %>
                                <div class="product product-7 text-center">
                                    <figure class="product-media">
                                        <a href="/singleProduct?productId=<%= relatedProduct._id %>">
                                            <img src="<%= relatedProduct.product_image[0].resizedFile %>" alt="Product image" class="product-image">
                                        </a>
                                        
                                       
                                    </figure><!-- End .product-media -->
                        
                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#"><%= relatedProduct.category.name %></a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="/singleProduct?productId=<%= relatedProduct._id %>"><%= relatedProduct.productName %></a></h3>
                                        <h3 class="product-title"><%= relatedProduct.brand%></h3>
                                        <div class="product-price">
                                            ₹<%= relatedProduct.price %>
                                        </div><!-- End .product-price -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            <% }); %>
                        <% } else { %>
                            <p>No related products found.</p>
                        <% } %>
                        
      

                      

                       
                    </div><!-- End .owl-carousel -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
	            				<img src="/user/assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
	            				<p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

	            				<div class="social-icons">
	            					<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
	            				</div><!-- End .soial-icons -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="about.html">About Molla</a></li>
	            					<li><a href="#">How to shop on Molla</a></li>
	            					<li><a href="#">FAQ</a></li>
	            					<li><a href="contact.html">Contact us</a></li>
	            					<li><a href="login.html">Log in</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Payment Methods</a></li>
	            					<li><a href="#">Money-back guarantee!</a></li>
	            					<li><a href="#">Returns</a></li>
	            					<li><a href="#">Shipping</a></li>
	            					<li><a href="#">Terms and conditions</a></li>
	            					<li><a href="#">Privacy Policy</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">My Account</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Sign In</a></li>
	            					<li><a href="cart.html">View Cart</a></li>
	            					<li><a href="#">My Wishlist</a></li>
	            					<li><a href="#">Track My Order</a></li>
	            					<li><a href="#">Help</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
	        		<figure class="footer-payments">
	        			<img src="/user/assets/images/payments.png" alt="Payment methods" width="272" height="20">
	        		</figure><!-- End .footer-payments -->
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Sticky Bar -->
   

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
           

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        function addToCart(productId) {
            const data = { productId: productId };
            axios.post('/addtoCart', data)
                .then(response => {
                    console.log(response);
        
                    // Show a sweet alert after logging the response
                    swal("Success", "Product added to cart!", "success");
                })
                .catch(error => {
                    console.error(error);
        
                    // Check the error response and show appropriate sweet alert
                    if (error.response) {
                        if (error.response.status === 400 && error.response.data.message === 'Product out of stock') {
                            swal("Error", "Product out of stock", "error");
                        } else if (error.response.status === 404 && error.response.data.message === 'Product not found') {
                            swal("Error", "Product not found", "error");
                        } else if (error.response.status === 401 && error.response.data.message === 'User not authenticated') {
                            swal("Error", "User not authenticated", "error");
                        } else {
                            swal("Error", "Something went wrong!", "error");
                        }
                    } else {
                        swal("Error", "Something went wrong!", "error");
                    }
                });
        }




        </script>


<script>
     //addto wishlist


  function addToWishlist(productId) {
            const data = {
                productId: productId
            }
            axios.post('/addToWishlist', data)
                .then(response => {
                    console.log(response);
                    swal({
                        title: "Success!",
                        text: "Product added to wishlist",
                        icon: "success",
                        button: "OK",
                    }).then(() => {

                        window.location.reload(); // Reloads the page
                    });
                })
                .catch(error => {
                    console.error(error);
                    // Handle error case
                    swal({
                        title: "Error!",
                        text: "Failed to add product to wishlist",
                        icon: "error",
                        button: "OK",
                    });
                });

        }
</script>
        

    
<%- include('../layouts/footer.ejs')-%>